@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


#menu-2 .mbr-brand__name {
  font-size: 16px;
}
#menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2 .mbr-navbar__items a {
  font-size: 22px;
}
#header4-4 H1 {
  color: #b8312f;
  text-align: center;
  font-family: 'Lora', serif;
}
#header4-4 P {
  color: #ffffff;
}
#header4-4 .btn {
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
}
#social-buttons1-a .mbr-header__text {
  font-size: 20px;
  text-align: right;
}
#social-buttons1-l .mbr-header__text {
  text-align: right;
}
#menu-c .mbr-brand__name {
  font-size: 16px;
}
#menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-c .mbr-navbar__items a {
  font-size: 22px;
}
#header4-p H1 {
  color: #b8312f;
}
#header4-p P {
  color: #000000;
}
